@import "tailwindcss";

@font-face {
    font-family: 'PokemonGB';
    src: url('./PokemonGb-RAeo.ttf') format('truetype');
    /* Path to your font file */
    font-weight: normal;
    font-style: normal;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'PokemonGB', sans-serif;
    margin: 1rem;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    max-height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* Media query for smaller screens */
@media (max-width: 1024px) {
    body {
        padding: 1rem;
        overflow: auto;
    }

    .container {
        padding: 1rem;
    }
}